<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hadeya.tabonhandapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.start.StarterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.start.AboutUs_AR">
            <intent-filter>
                <action android:name="aboutusAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.start.AboutUs_EN">
            <intent-filter>
                <action android:name="aboutusEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.start.ContactUs_AR">
            <intent-filter>
                <action android:name="contactusAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.start.ContactUS_EN">
            <intent-filter>
                <action android:name="contactusEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.start.ChangePassword">
            <intent-filter>
                <action android:name="ChangePassword" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.start.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="login" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.start.MainTopicsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="MainTopicsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.start.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.customers.CustomerMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="CustomerMainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.customers.CustomerInvoices"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="CustomerInvoices" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.customers.AddNewCustomer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="AddNewCustomer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.items.ItemsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ItemsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.items.ItemsInvoices"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ItemsInvoices" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.transaction.TransactionMain"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="TransactionMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.transaction.AddReceipt"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Receipt" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.transaction.invoices.AddInvoice"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="AddInvoice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.transaction.invoices.CustomerList"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="CustomerList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.transaction.transfer.Transfer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Transfer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.transaction.invoices.AddItemsInvoice"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="AddItemsInvoice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.transaction.invoices.InvoiceItemsList"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="InvoiceItemsList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.transaction.invoices.ItemList"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ItemList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.transaction.invoices.PrintInvoice"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="PrintInvoice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.transaction.invoices.FirstInvoiceList"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="FirstInvoiceList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>